<!doctype html>
<html>
  <head>
    <title>Movie Buffs</title>
  </head>
  <body>
    <h1>Search Bar</h1>
    <form method="GET">
      {{ form }}
      <input type = "submit" value = "Submit">
    </form>   
    {% for movie in movies %}
      <b><p>Title:</p></b>{{ movie.title }} <br>
      <b><p>Release date:</p></b>{{ movie.release_date }}  <br>
      <b><p>Overview:</p></b>{{ movie.overview }} <br>
      <b><p>Rating:</p></b>{{ movie.rating }}  <br>
      <br>
      <br>
      <br>
    {% endfor %}
  </body>
</html>
