<!doctype html>
<html>
  <head>
    <title>Movie Buffs</title>
  </head>
  <body>
    <h1>Search Bar</h1>
    <form method="GET">
      {{ form }}
      <input type = "submit" value = "Submit">
    </form>   
    {% for movie in movies %}
      <b><p>Title:</p></b>{{ movie.title }} <br>
      <b><p>Release date:</p></b>{{ movie.release_date }}  <br>
      <b><p>Overview:</p></b>{{ movie.overview }} <br>
      <b><p>Rating:</p></b>{{ movie.rating }}  <br>
      <br>
      <br>
      <br>
    {% endfor %}


    {% if request.GET.search and movies.has_previous %}
      <a href="{% url 'searchbar' %}?search={{ request.GET.search }}&page={{movies.previous_page_number}}">Previous Page</a>
    {% endif %}
    
    {% for page in movies.paginator.page_range %}
    <a href="{% url 'searchbar' %}?search={{ request.GET.search }}&page={{ page }}">{{ page }}</a>
    {% endfor %}

    {% if request.GET.search and movies.has_next %}
      <a href="{% url 'searchbar' %}?search={{ request.GET.search }}&page={{movies.next_page_number}}">Next Page</a>
    {% endif %}
  </body>
</html>
